<div class="col-md-4 col-sm-6 col-xs-8 col-xs-offset-2 col-md-offset-0 col-sm-offset-0 portfolio-item">
    <img src="img/meetups/<!location_img!>" class="img-responsive img-rounded portfolio-image" alt="">
    <div class="portfolio-caption">
        <h4><!date!></h4>
        <p class="text-muted"><!time!> @ <a href="<!location_url!>" target="_blank"><!location!></a></p>
        <!speakers!>
    </div>
</div>
