<li class="<!item_class!>">
    <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/events/<!image!>" alt="">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4><!date!></h4>
            <h4 class="subheading"><!title!></h4>
        </div>
        <div class="timeline-body">
            <p>
              <!description!>
            </p>
            <hr/>
            <ul class="list-inline social-buttons">
                <li><a class="small" href="<!url!>" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
    </div>
</li>
